{% extends 'quizzer/base.html' %}


{% block body %}
<div class="container {% if question %}question{% elif round %}round{% endif %}">
    <span id="round">{{ round.name }}</span>

    <h1 id="question">{{ question.question }}</h1>

    <div id="teams">
        <ul>
        </ul>
    </div>
</div>
{% endblock %}


{% block bottom %}
<style>
body {
    margin: 0;
    background: radial-gradient(ellipse 90% 80% at center, #895edc, #90c0e2);
}
.container {
    display: flex;
    flex-direction: row;
    min-width: 100vw;
    min-height: 100vh;
    justify-content: space-around;
}


.container.round #question {
    display: none;
}
.container.question #question {
    display: flex;
}

.container.round #round {
    justify-self: center;
    align-self: center;
    text-align: center;
    flex-grow: 1;
    font-size: 5vw;
    background-color: rgba(0, 0, 0, 0.4);
    color: #ccc;
    border-radius: 1vw;
}

#round {
    margin: 5px;
    font-size: 28px;
}

#question {
    flex-grow: 1;
    align-self: center;
    justify-self: center;
    background-color: rgba(0, 0, 0, 0.4);
    color: #ccc;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}

#teams {
    margin: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
    border-radius: 10px;
}

#teams > ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

#teams > ul > li {
    font-size: 19px;
}
</style>
<script>
    $(document).ready(function() {
        $(document).click(function(ev) {
            $.post('next/', {}, function(data) {
                $('#question').text(data.question);
                $('#round').text(data.round);

                $('.container').removeClass('round');
                $('.container').removeClass('question');
                
                if (data.question) {
                    $('.container').addClass('question');
                } else if (data.round) {
                    $('.container').addClass('round');
                }
            });
        });

        function updateTeam() {
            $.get('teams', function(data) {
                $('#teams > ul').empty();
                for (var i = 0; i < data['teams'].length; i++) {
                    var team = data['teams'][i];
                    $('#teams > ul').append('<li>' + team.name + ' : ' + team.points + '</li>');
                }
            })
        }

        updateTeam();
        setInterval(updateTeam, 10000);
    });
</script>
{% endblock %}