{% extends 'quizzer/base.html' %}


{% block body %}
<div class="vbox viewport">

    <div id="round">Manche: {{ round.name }}</div>

    <div id="main-container" class="hbox {% if question %}question{% elif round %}round{% endif %}">
        <h1 id="question">{{ question.question_html|safe }}</h1>

        <div id="teams"></div>
    </div>

    <div id="buzzing-team">
        Obi-Wan Kenobi
    </div>

</div>


<div class="team" id="team-template">
    <div class="beer team-btn">🍺</div>
    <div class="fuck">🖕</div>
    <div class="name"></div>
    <div class="points"></div>
</div>
{% endblock %}


{% block bottom %}
<style>
body {
    margin: 0;
    background: url(/static/img/bulle.png), linear-gradient(#fff6e7 11%, #d2ab20,  #c37c12);
}

.viewport {
    min-width: 100vw;
    min-height: 100vh;
}

.vbox {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
}

.hbox {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    justify-items: center;
    align-items: center;
}

#round {
    margin: 5px;
    font-size: 28px;
    text-align: center;
}

#main-container {
    flex: 1;
    min-width: 100vw;
}

#buzzing-team {
    background-color: white;
    font-size: 32px;
    border-radius: 5px;
    padding: 20px;
    min-height: 5vh;
    visibility: hidden;
    margin-bottom: 10px;
    font-size: 8vh;
}

#question {
    flex-grow: 1;
    align-self: center;
    justify-self: center;
    background-color: rgba(0, 0, 0, 0.4);
    color: #eee;
    margin: 0 10px 0 20px;
    border-radius: 10px;
    text-align: center;
    font-size: 7vh;
}

#question > ul {
    text-align: left;
}

#teams {
    background-color: #eee;
    border-radius: 5px;
    box-shadow: 0 8px 6px -6px black;
    display: flex;
    flex-direction: column;
    margin: 0 20px 0 10px;
    max-width: 30vw;
    padding: 10px;
}

#team-template {
    display: none;
}

.team {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 5vh;
    padding: 10px 0;
}
.team > .name {
    padding-left: 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.team > .points {
    text-align: right;
    flex-grow: 1;
    padding-left: 10px;
}
</style>
<script>

    function updateTeam() {
            $.get('teams', function(data) {
                $('#teams').html('');
                for (var i = 0; i < data['teams'].length; i++) {
                    var team = data['teams'][i];
                    var $team = $('#team-template').clone();
                    $team.attr('id', '');
                    $team.attr('team-id', team.id);
                    $team.find('.name').text(team.name);
                    $team.find('.points').text(team.points);
                    console.log(team);
                    if (team.is_fucked){
                        $team.find(".beer").text("⛔");
                    }
                    $team.appendTo('#teams');
                    $team.find('.beer').click(function (e) {
                        var $team = $($(e.target).parent());
                        var teamId = $team.attr('team-id');
                        $.post('/quizzer/add/' + teamId + '/', {}, updateTeam);
                    });
                    $team.find('.points').click(function (e) {
                        var $team = $($(e.target).parent());
                        var teamId = $team.attr('team-id');
                        $.post('/quizzer/remove/' + teamId + '/', {}, updateTeam);
                    });
                    $team.find('.fuck').click(function (e) {
                        var $team = $($(e.target).parent());
                        var teamId = $team.attr('team-id');
                        $.post('/quizzer/asshole/' + teamId + '/', {}, updateTeam);
                    });
                }
            })
        }


    function updateQuestion(data) {
        updateTeam();
        $('#question').html(data.question);
        $('#round').html('Manche: ' + data.round);

        $('.container').removeClass('round');
        $('.container').removeClass('question');
        
        if (data.question) {
            $('.container').addClass('question');
            $('#round').css('visibility', 'visible');
        } else if (data.round) {
            $('#question').html('<p>' + data.round + '</p>');
            $('#round').css('visibility', 'hidden');
            $('.container').addClass('round');
        }
    }

    $(document).ready(function() {

        $(document).keyup(function(e) {
            if (e.which == 37) {
                $.post('prev/', {}, updateQuestion);
            } else if (e.which == 39) {
                $.post('next/', {}, updateQuestion);
            }
        });

        updateTeam();


        function updateBuzzingTeam() {
            $.get('{% url "quizzer:get_team_has_buzzed" %}', {}, function (data) {
                if (data.team) {
                    $('#buzzing-team').text(data.team);
                    $('#buzzing-team').css('visibility', 'visible');
                } else {
                    $('#buzzing-team').css('visibility', 'hidden');
                }
            });
        }

        setInterval(updateBuzzingTeam, 200);

        $('#buzzing-team').click(function(e) {
            e.preventDefault();
            $.post('{% url "quizzer:clear_buzzer" %}');
            return false;
        });
    });
</script>
{% endblock %}