{% extends 'quizzer/base.html' %}


{% block body %}
<div class="container {% if question %}question{% elif round %}round{% endif %}">
    <div class="inner-container">
        <span id="round">{{ round.name }}</span>
        <h1 id="question">{{ question.question_html|safe }}</h1>
    </div>

    <div id="sidebar">
        <div id="teams">
        </div>
    </div>
</div>

<div class="team" id="team-template">
    <div class="beer team-btn">🍺</div>
    <div class="fuck">🖕</div>
    <div class="name"></div>
    <div class="points"></div>
</div>
{% endblock %}


{% block bottom %}
<style>
body {
    margin: 0;
    background: radial-gradient(ellipse 90% 80% at center, #895edc, #90c0e2);
}
.container {
    display: flex;
    flex-direction: row;
    min-width: 100vw;
    min-height: 100vh;
    justify-content: space-between;
    align-items: center;
}

.inner-container {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-items: center;
    align-items: center;
    padding: 20px;
}


.container.round #question {
    display: none;
}
.container.question #question {
    display: flex;
}

.container.round #round {
    justify-self: center;
    align-self: center;
    text-align: center;
    flex-grow: 1;
    font-size: 5vw;
    background-color: rgba(0, 0, 0, 0.4);
    color: #ccc;
    border-radius: 1vw;
}

#round {
    margin: 5px;
    font-size: 28px;
    text-align: center;
}

#question {
    flex-grow: 1;
    align-self: center;
    justify-self: center;
    background-color: rgba(0, 0, 0, 0.4);
    color: #ccc;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}

#question > ul {
    text-align: left;
}

#teams {
    margin: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
    border-radius: 10px;
}

#teams {
    list-style: none;
    margin: 0 10px;
    padding: 0;
    background-color: white;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 8px 6px -6px black;
}

.teams {
    font-size: 19px;
    white-space: nowrap;
}

#team-template {
    display: none;
}

.team {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 5vh;
    padding: 10px 0;
}
.team > .name {
    padding-left: 10px;
    white-space: nowrap;
}
.team > .points {
    text-align: right;
    flex-grow: 1;
    padding-left: 10px;
}
</style>
<script>
    function updateQuestion(data) {
        $('#question').html(data.question);
        $('#round').html(data.round);

        $('.container').removeClass('round');
        $('.container').removeClass('question');
        
        if (data.question) {
            $('.container').addClass('question');
        } else if (data.round) {
            $('.container').addClass('round');
        }
    }

    $(document).ready(function() {
        // $(document).click(function(ev) {
        //     $.post('next/', {}, updateQuestion);
        // });

        $(document).keyup(function(e) {
            if (e.which == 37) {
                $.post('prev/', {}, updateQuestion);
            } else if (e.which == 39) {
                $.post('next/', {}, updateQuestion);
            }
        });

        function updateTeam() {
            $.get('teams', function(data) {
                $('#teams').html('');
                for (var i = 0; i < data['teams'].length; i++) {
                    var team = data['teams'][i];
                    var $team = $('#team-template').clone();
                    $team.attr('id', '');
                    $team.attr('team-id', team.id);
                    $team.find('.name').text(team.name);
                    $team.find('.points').text(team.points);
                    $team.appendTo('#teams');
                    $team.find('.beer').click(function (e) {
                        var $team = $($(e.target).parent());
                        var teamId = $team.attr('team-id');
                        $.post('/quizzer/add/' + teamId + '/', {}, updateTeam);
                    });
                }
            })
        }

        updateTeam();
        // setInterval(updateTeam, 500);
    });
</script>
{% endblock %}