{% extends 'buzzer/base.html' %}

{% block container %}
<style>
body {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}
#buzzer {
    font-size: 10vw;
    min-width: 80vw;
    min-height: 70vh;
    background-image: url(/static/img/bulle.png), linear-gradient(#fff6e7 11%, #d2ab20,  #c37c12);
    background-size: cover;
    border: 1px solid black;
    text-align: center;
    line-height: 80vh;
}
#buzzer.clicked {
    background-image: url(/static/img/bulle.png), linear-gradient(#c37c12, #d2ab20, #fff6e7 89%);
}
#buzzer:hover {
    cursor: pointer;
}
</style>

<form action="." method="POST">
    <div id="buzzer">Buzz !</div>
</form>
{% endblock %}

{% block bottom %}
<script>
$(document).ready(function () {
    $('#buzzer').click(function (e) {
        e.preventDefault();
        $('#buzzer').text('Buzzing...');
        $.post('/buzz', {}, function (data) {
            $('#buzzer').text('Buzz !');
        });
        return false;
    });
});
</script>
{% endblock %}