{% extends 'buzzer/base.html' %}

{% block container %}
<div class="teams-list">
	{% for team in teams %}
	<a href="{% url 'buzzer:register_buzzer' team.id %}">{{ team.name }}</a>
	{% if not forloop.last %}<div class="separator"></div>{% endif %}
	{% endfor %}
</div>

<style>
.teams-list {
	display: flex;
	flex-direction : column;
	min-height: 100%;
	align-items: left;
	justify-items: center;
	justify-content: space-evenly;
	/*padding: 0 1em;*/
}

.teams-list > a {
	text-decoration: none;
	padding: 2vh 0;
	font-size: 2em;
	/*border-bottom: 1px solid #ddd;*/
	padding: 0 1em;
}
.teams-list > a:last-child {
	/*border-bottom: none;*/
}
.separator {
	border-top: 1px solid #ddd;
}
</style>
{% endblock %}